language: rust
rust:
  - stable
  - 1.44.0
env:
  - RUN=TEST
script:
  - cargo test --workspace
  - cargo test --workspace --features db-storage
services:
  - docker
matrix:
  include:
    - rust: stable
      env: RUN=RUSTFMT
      before_script: rustup component add rustfmt
      script: cargo fmt --all -- --check
  allow_failures:
    - rust: nightly
