[package]
name = "mimirsbrunn"
version = "1.2.0"
authors = ["Canal TP <dt.ro@canaltp.fr>"]
build = "build.rs"
autotests = false
edition = "2018"

[workspace]

[dependencies]
log = { version = "0.4", features = ["release_max_level_debug"] }
slog = { version = "2.4", features = ["max_level_trace", "release_max_level_debug"]}
slog-scope = "4.1"
slog-envlogger = "2.1"
slog-async = "2.3"
structopt = "0.2"
csv = "1"
rs-es = {version = "0.11", default-features = false}
regex = "1"
osmpbfreader = "0.13"
chrono = "0.4"
serde = {version = "1", features = ["rc"]}
serde_derive = "1"
serde_json = "1"
geo = "0.12"
geo-types = "0.4"
gst = "0.1"
ordered-float = "0.0.2"
itertools = "0.8"
navitia_model = { git = "https://github.com/CanalTP/navitia_model" }
osm_boundaries_utils = "0.4"
failure = "0.1"
#cosmogony = "^0.4.1"
cosmogony = { git = "https://github.com/antoine-de/cosmogony.git", rev = "9afc5a0db183a95bfc9a722ed6a2a53e8fe1ea38"}
par-map = "0.1.4"
lazy_static = "1.2"
num_cpus = "1.10"
assert_float_eq = "1"

[dev-dependencies]
hyper = "0.10"
approx = "0.2.0"
actix-web = "0.7"

[build-dependencies]
git-version = "0.2"

[dependencies.bragi]
path = "libs/bragi"

[dependencies.mimir]
path = "libs/mimir"

[dev-dependencies.docker_wrapper]
path = "libs/docker_wrapper"

# we just call one test method: cf. tests::all_tests()
[[test]]
name = "tests"
