[package]
name = "mimirsbrunn"
version = "1.20.0"
authors = ["Canal TP <dt.ro@canaltp.fr>"]
build = "build.rs"
autotests = false
edition = "2018"
description = "Set of tools for geocoding with Elasticsearch"
license = "AGPLv3"
repository = "https://github.com/CanalTP/mimirsbrunn.git"
keywords = [ "mimirsbrunn", "elasticsearch", "geocoding" ]
categories = [ "application" ]
readme = "README.md"

[workspace]

[features]
db-storage = [ "rusqlite" ]

[dependencies]
config = "0.10"
log = { version = "0.4", features = ["release_max_level_debug"] }
slog = { version = "2.5", features = ["max_level_trace", "release_max_level_debug"]}
slog-scope = "4.3"
slog-envlogger = "2.2"
slog-async = "2.5"
slog-term = "2.8"
slog-stdlog = "4.1"
structopt = "0.3"
csv = "1.1"
rs-es = { git = "https://github.com/canaltp/rs-es", features = ["geo"], version = "0.12.3"}
regex = "1"
osmpbfreader = "0.14"
osm_boundaries_utils = "0.8.2"
chrono = "0.4"
chrono-tz = "0.5"
serde = {version = "1", features = ["rc"]}
serde_json = "1"
bincode = "1.2"
geo = "0.16"
geo-types = { version = "0.6.1", features = [ "rstar" ] }
rstar = "0.8"
itertools = "0.9"
transit_model = "0.31.4"
typed_index_collection = "1.1"
failure = "0.1"
cosmogony = "0.9"
par-map = "0.1.4"
lazy_static = "1.4"
num_cpus = "1.13"
assert_float_eq = "1.1"
human-sort = "0.2"
address-formatter = "0.2.1"
navitia-poi-model = "0.3"
walkdir = "2.3"
rusqlite = { version = "0.23", optional = true }
flate2 = "1.0"
toml = "0.5"

mimir = { path = "libs/mimir" }
bragi = { path = "libs/bragi" }

[dev-dependencies]
reqwest = { version = "0.10", features = [ "blocking", "json" ] }
approx = "0.3"
actix-web = "1"
tools = { path = "libs/tools" }
docker_wrapper = { path = "libs/docker_wrapper" }

[build-dependencies]
json = "0.12"

# we just call one test method: cf. tests::all_tests()
[[test]]
name = "tests"
