# The directory in which data is stored
DATA_DIR="data"

# Elasticsearch host. If you use docker, it should probably stay at localhost.
ES_HOST="localhost"

# The port number for elasticsearch host (9200 + offset, 9300 + offset)
ES_PORT_OFFSET=0

# The name of the dataset
ES_DATASET="fr"

# The name of the image
ES_IMAGE="docker.elastic.co/elasticsearch/elasticsearch:7.13.0"

# The name of the container
ES_NAME="elasticsearch"

# The departement (French administrative regions) for BANO
# Base d'Adresses Nationale Ouverte data.gouv.fr
BANO_REGION="75 77 78 92 93 94 95"

# NTFS Region to download
NTFS_REGION="fr-idf"

# OSM Region
OSM_REGION="ile-de-france"

# Base directory for cosmogony
COSMO_DIR=""
