# The directory in which data is stored
DATA_DIR="data"

# The port number for elasticsearch
ES_PORT=9200

# The name of the index
ES_INDEX="munin"

# The name of the dataset
ES_DATASET="fr"

# The name of the image
ES_IMAGE="elasticsearch:2"

# The name of the container
ES_NAME="es"

# The departement (French administrative regions) for BANO
# Base d'Adresses Nationale Ouverte data.gouv.fr
BANO_REGION="75 77 78 92 93 94 95"

# NTFS Region to download
NTFS_REGION="fr-idf"

# OSM Region
OSM_REGION="ile-de-france"

# Base directory for cosmogony
COSMO_DIR=""
